<ion-content>
  <div class="padding">

    <div class="logo">
      <ion-icon color="light" name="construct-outline"></ion-icon>
    </div>

    <ion-item>
      <ion-label color="light">Nom</ion-label>
      <ion-input color="light" type="mail" placeholder="Votre nom"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Prénom</ion-label>
      <ion-input color="light" type="mail" placeholder="Votre prénom"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Email</ion-label>
      <ion-input color="light" type="mail" placeholder="Adresse email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Mot de passe</ion-label>
      <ion-input color="light" type="password" placeholder="Mot de passe"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Confirmation mot de passe</ion-label>
      <ion-input color="light" type="password" placeholder="Confirmation mot de passe"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-button color="light" slot="end" fill="clear" [routerLink]="['/login']">Rtour à la page login</ion-button>
    </ion-item>

    <ion-button color="light" expand="block" shape="round" fill="outline">S'inscrire</ion-button>

  </div>
</ion-content>